form{
    border: 3px solid white;
}
/* Center the image and position the close button */
.imgcontainer{
    text-align: center;
    margin: 20px 0 12px 0;
    position: relative;
}
.avatar{
    border-radius: 50%;
    width: 40%;
}
.container{
    padding: 16px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
button{
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    background-color: #04AA6D;
    border: none;
    color: white;
    cursor: pointer;
    margin: 8px 0;
}
button:hover{
    opacity: 0.8;
}
.cancelbtn{
    background-color:#f44336;
    width: auto;
    padding: 10px 18px; 
}
span{
    float: right;
    font-size: large;
    padding-top: 16px;
}
@media (max-width: 300px){
span.psw {
    display: block;
    float: none;
}
.cancelbtn{
    width: 100%;
}
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*to enable scrolling*/
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
   font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  .animate {
    /*-webkit-animation: This is the vendor-prefixed version of the
     animation property for older versions of WebKit-based browsers
    (e.g., older Chrome and Safari).*/
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }
  /*Defines the animation behavior for browsers that require the -webkit- prefix.*/
  @-webkit-keyframes animatezoom {
    from {-webkit-transform:  scale(0)}
    to {-webkit-transform: scale(1) }
  }
  /* Defines the same animation behavior,
   but for modern browsers that don’t require the -webkit- prefix.*/
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

.reverse-animation{
    animation: reverse-animate 0.6s;
    -webkit-animation: reverse-animate 0.6s;
}
@keyframes reverse-animate {
    from {transform: scale(1);}
    to {transform: scale(0);}
    
}
@-webkit-keyframes reverse-animate {
from {-webkit-transform: scale(1);}
to {-webkit-transform: scale(0);}
}